<div id="footer-component">
    <div class="footer-wrap">
        <div class="contact-msg">편하게<br />문의주세요.</div>
        <div class="contact-to">contact@pluginsns.com</div>
        <div class="company-wrap">
            <div class="logo">PLUGIN<strong>SMS</strong></div>
            <div class="help-num">고객 센터 02-000-0000</div>
            <div class="help-time">
                평일 AM 09:00 - PM 05:00<br />(점심 PM 12:00 - PM 1:00)
            </div>
        </div>
        <div id="copyright">© 2023 PluginSMS. All rights reserved.</div>
    </div>
</div>
