<div id="notice-component">
    <div class="header">
        <div class="title">공지 사항</div>
        <a href="" class="detail"
            >더보기<img src="/images/icon-detail.png" alt="" srcset=""
        /></a>
    </div>
    <div class="body">
        <div class="row">
            <div class="item">
                <div class="img">
                    <img src="/images/img-notice-demo.jpg" alt="" />
                </div>
                <div class="badge">
                    <span class="important">중요</span>
                    <span>업데이트</span>
                </div>
                <div class="title">공지 제목입니다.</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-notice-demo.jpg" alt="" />
                </div>
                <div class="badge">
                    <span class="important">중요</span>
                    <span>업데이트</span>
                </div>
                <div class="title">공지 제목입니다.</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-notice-demo.jpg" alt="" />
                </div>
                <div class="badge">
                    <span class="important">중요</span>
                    <span>업데이트</span>
                </div>
                <div class="title">공지 제목입니다.</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-notice-demo.jpg" alt="" />
                </div>
                <div class="badge">
                    <span class="important">중요</span>
                    <span>업데이트</span>
                </div>
                <div class="title">공지 제목입니다.</div>
                <div class="wdate">2000.01.00</div>
            </div>
        </div>
        <div class="row">
            <div class="item">
                <div class="img">
                    <img src="/images/img-notice-demo.jpg" alt="" />
                </div>
                <div class="badge">
                    <span class="important">중요</span>
                    <span>업데이트</span>
                </div>
                <div class="title">공지 제목입니다.</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-notice-demo.jpg" alt="" />
                </div>
                <div class="badge">
                    <span class="important">중요</span>
                    <span>업데이트</span>
                </div>
                <div class="title">공지 제목입니다.</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-notice-demo.jpg" alt="" />
                </div>
                <div class="badge">
                    <span class="important">중요</span>
                    <span>업데이트</span>
                </div>
                <div class="title">공지 제목입니다.</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-notice-demo.jpg" alt="" />
                </div>
                <div class="badge">
                    <span class="important">중요</span>
                    <span>업데이트</span>
                </div>
                <div class="title">공지 제목입니다.</div>
                <div class="wdate">2000.01.00</div>
            </div>
        </div>
    </div>
</div>
