<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/setting.css" />
        <link rel="stylesheet" href="/stylesheets/api-list.css" />
    </head>
    <body>
        <%- include header.ejs %>
        <div id="navbar">
            <div class="navi">
                <div class="btn home">
                    <img src="/images/icon-home.png" alt="" srcset="" />
                </div>
                <div class="tab">
                    API 목록<img src="/images/icon-more.png" alt="" srcset="" />
                </div>
                <div class="tab">
                    전체 API<img src="/images/icon-more.png" alt="" srcset="" />
                </div>
            </div>
            <div class="func">
                <div class="btn share">
                    <img src="/images/icon-share.png" alt="" srcset="" />
                </div>
                <div class="btn print">
                    <img src="/images/icon-print.png" alt="" srcset="" />
                </div>
            </div>
        </div>
        <div id="api-list">
            <div class="header">
                <div class="title">API 목록</div>
            </div>
            <div class="body">
                <div class="tabbar">
                    <div class="tab tab-sel">
                        국내 발송
                        <span class="sel"></span>
                    </div>
                    <div class="tab">
                        국제 발송
                        <span class="sel"></span>
                    </div>
                </div>
                <div id="api-grid" class="api-list">
                    <% for(var i = 0; i < apiName.length; i++){%>
                    <div class="api">
                        <img
                            src="https://smartsms.aligo.in/img/landing/image/bi-aligo-sms.png"
                            alt=""
                        />
                        <div class="title"><%- apiName[i] %></div>
                        <a class="link" href="#"><%- apiURL[i] %></a>

                        <div class="tag">
                            <span>#가성비</span>
                            <span>#안정적</span>
                        </div>
                        <div class="row">
                            <div class="price">
                                <strong>8.4원</strong>
                                <span></span>건
                            </div>
                            <div class="detail">
                                <img
                                    src="/images/icon-link-b.png"
                                    alt=""
                                    srcset=""
                                />
                            </div>
                        </div>
                        <div class="func"></div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </body>
    <script>
        var numApi = document.getElementsByClassName("api").length;
        var numRow = Math.ceil(numApi / 4);
        document.getElementById(
            "api-grid"
        ).style.gridTemplateRows = `repeat(${numRow}, 280px)`;
    </script>
</html>
