<div id="search">
    <form action="search" method="post">
        <input
            type="text"
            name="searchKey"
            id=""
            placeholder="검색어를 입력해주세요."
        />
        <button type="submit">검색</button>
    </form>
</div>
<div id="header">
    <a class="logo" href="/">
        <img src="/images/logo.png" alt="" srcset="" />PlugInSMS
    </a>
    <div class="navlist">
        <a class="navitem" href="/api-list">
            API 목록
            <span class="sel"></span>
        </a>
        <a class="navitem" href="/api-compare">
            API 비교
            <span class="sel"></span>
        </a>
        <a class="navitem">
            내 API 관리
            <span class="sel"></span>
        </a>
    </div>
    <div class="func">
        <a href="" class="docs">개발자 문서</a>
        <a href="" class="contact">고객 센터</a>
        <a href="sign" class="sign">로그인</a>
        <div class="divider"></div>
        <img id="btn-search" src="/images/icon-search.png" onclick="search()" />
        <img src="/images/icon-menu.png" alt="" srcset="" />
    </div>
</div>
<script>
    let visibleSearch = false;
    function search() {
        const target = document.getElementById("search");
        if (visibleSearch) {
            target.style.display = "none";
            visibleSearch = false;
        } else {
            target.style.display = "flex";
            visibleSearch = true;
        }
    }
</script>
