<div id="header-component">
    <div class="header-wrap">
        <div class="logo">PLUGIN<strong>SMS</strong></div>
        <div class="link">
            <a href="/">홈</a>
            <a href="/api">API 목록</a>
            <a href="#">북마크</a>
            <a href="#">소개</a>
        </div>
        <div class="func">
            <a id="contact" href="">문의하기</a>
            <a id="sign" href="">로그인</a>
            <a id="search" href=""
                ><img src="/images/icon-search.png" alt=""
            /></a>
        </div>
    </div>
</div>
