<div id="hotapi-component">
    <div class="header">
        <div class="title">인기 API</div>
        <a href="" class="detail"
            >더보기<img src="/images/icon-detail.png" alt="" srcset=""
        /></a>
    </div>
    <div class="body">
        <div class="row">
            <div class="item">
                <div class="img">
                    <img src="/images/img-api-demo.jpeg" alt="" />
                </div>
                <div class="title">사이트명</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-api-demo.jpeg" alt="" />
                </div>
                <div class="title">사이트명</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-api-demo.jpeg" alt="" />
                </div>
                <div class="title">사이트명</div>
                <div class="wdate">2000.01.00</div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="/images/img-api-demo.jpeg" alt="" />
                </div>
                <div class="title">사이트명</div>
                <div class="wdate">2000.01.00</div>
            </div>
        </div>
    </div>
</div>
