#api-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin-bottom: 120px;
}

#api-component .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 12px 0;
    border-bottom: 1px solid var(--col-wb-3);
}

#api-component .header .title {
    font-weight: bold;
    font-size: 36px;
}

#api-component .header .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--col-wb-2);
    font-size: 16px;
}

#api-component .body {
    display: flex;
    flex-direction: column;
}

#api-component .body .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

#api-component .body .list-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
}

#api-component .body .opt {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 8px;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid var(--col-wb-3);
}

#api-component .body .opt img {
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

#api-component .body .opt select {
    padding: 8px 12px;
    border: 1px solid var(--col-wb-3);
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
}

#api-component .body .api-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

#api-component .body .item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 20%;
    min-width: 200px;
    max-width: 224px;
    border-radius: 12px;
    transition: all .5s;
}

#api-component .body .item:hover {
    box-shadow: 0px 4px 8px 4px var(--col-wb-4);
}

#api-component .body .item .badge {
    margin-bottom: 12px;
}

#api-component .body .item .badge span {
    padding: 4px 8px;
    background: var(--col-b-2);
    border: 1px solid var(--col-b-3);
    border-radius: 8px;
    color: var(--col-b-1);
    font-size: 12px;
    font-weight: bold;
}

#api-component .body .item .badge .important {
    background: var(--col-b-0);
    border: 1px solid var(--col-b-1);
    color: var(--col-wb-5);
}

#api-component .body .item .title {
    font-size: 24px;
    font-weight: bold;
}

#api-component .body .item .link {
    margin-bottom: 8px;
    color: var(--col-wb-1);
    font-size: 12px;
}

#api-component .body .item .in-price {
    margin-bottom: 8px;
    color: var(--col-wb-1);
    font-size: 12px;
}

#api-component .body .item .out-price {
    margin-bottom: 12px;
    color: var(--col-wb-1);
    font-size: 12px;
}

#api-component .body .item .in-price strong,
#api-component .body .item .out-price strong {
    color: var(--col-b-1);
    font-size: 20px;
}

#api-component .body .item .detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--col-wb-4);
    border-radius: 12px;
    color: var(--col-wb-0);
}

#api-component .body .sidebar,
#api-component .body .sidebar .rank-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 8px;
    width: 240px;
}

#api-component .body .sidebar .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 8px;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid var(--col-wb-3);
    font-size: 20px;
    font-weight: bold;
}

#api-component .body .sidebar .rank-list .site {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

#api-component .body .sidebar .site .rank {
    margin-right: 12px;
    color: var(--col-wb-1);
    font-size: 16px;
    font-weight: bold;
}

#api-component .body .sidebar .site .img {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background: var(--col-wb-4);
    border-radius: 16px;
}

#api-component .body .sidebar .site .name {
    color: var(--col-wb-0);
    font-size: 14px;
    font-weight: bold;
}

#api-component .body .sidebar .site .like {
    color: var(--col-wb-1);
    font-size: 12px;
}