:root {
    --min-width: 960px;
    --max-width: 1280px;
    --col-skyblue: #4DC0E8;
    --col-blue: #039DD8;
    --col-navy: #22207E;
    --col-yellow: #FFC800;
    --col-white: #FFFFFF;
    --col-gray-1: #F7F7F7;
    --col-gray-2: #DADADA;
    --col-gray-3: #D9D9D9;
    --col-gray-4: #B5B5B5;
    --col-gray-5: #999999;
    --col-gray-6: #777777;
    --col-gray-7: #333333;
    --col-gray-8: #222222;
    --col-black: #000000;
}

@font-face {
    font-family: 'Leferi';
    src: url('/fonts/LeferiPointWhite.ttf') format('truetype');
    font-weight: 100;
    font-style: light;
}

@font-face {
    font-family: 'Leferi';
    src: url('/fonts/LeferiPointSpecial.ttf') format('truetype');
    font-weight: 300;
    font-style: special;
}

@font-face {
    font-family: 'Leferi';
    src: url('/fonts/LeferiBaseRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Leferi';
    src: url('/fonts/LeferiBaseBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Leferi';
    src: url('/fonts/LeferiPointBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: black;
}

@font-face {
    font-family: 'Leferi-O';
    src: url('/fonts/LeferiPointWhiteOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Leferi-O';
    src: url('/fonts/LeferiPointSpecialItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Leferi-O';
    src: url('/fonts/LeferiPointBlackOblique.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Leferi";
}

a {
    color: var(--col-gray-8);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: var(--col-white);
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--col-white);
    z-index: 1000;
}

#header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Leferi-O';
    font-weight: 700;
    font-size: 24px;
    color: var(--col-navy);
}

#header .logo img {
    margin-right: 4px;
}

#header .navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#header .navlist .navitem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 34px;
    height: 100%;
    font-size: 20px;
    font-weight: 900;

}

#header .navlist .navitem .sel {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0px;
    height: 5px;
    background: var(--col-blue);
    transform: translateX(-50%);
    transition: width .5s;
}

#header .navlist .navitem:hover .sel {
    width: 80px;
}

#header .func {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--col-gray-8);
}

#header .func .docs {
    padding: 6px 20px;
    border: 1px solid var(--col-blue);
    border-radius: 100px;
    color: var(--col-blue);
}

#header .func .contact {
    margin-left: 12px;
    padding: 6px 20px;
    border: 1px solid var(--col-gray-8);
    border-radius: 100px;
}

#header .func .sign {
    margin-left: 28px;
}

#header .func .divider {
    width: 1px;
    height: 28px;
    background: #555555;
    margin: 32px;
}

#header .func img {
    margin-right: 28px;
}

#header .func img:last-child {
    margin: 0;
}

#search {
    position: fixed;
    top: 90px;
    left: 0px;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 10, 0.3);
    z-index: 999;
}

#search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 36px 0;
    width: 100vw;
    background: var(--col-gray-1);
}

#search input {
    padding: 20px 28px;
    width: 30%;
    min-width: 320px;
    font-size: 16px;
    color: var(--col-black);
    border: 1px solid var(--col-gray-4);
    outline: none;
}

#search button {
    padding: 21px 28px;
    background: var(--col-yellow);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
}