body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--col-gray-1);
    background-image: url(../images/bg_left.png), url(../images/bg_right.png);
    background-position: left, right;
    background-repeat: repeat-y;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 60px;
    width: 560px;
    background: var(--col-white);
    border: 1px solid var(--col-gray-2);
}

.sign .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    width: fit-content;
    border-radius: 50px;
    color: var(--col-blue);
}

.sign .home img {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
    margin-right: 8px;
}

.sign .title {
    margin-bottom: 8px;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
}


.sign .subtitle {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--col-gray-7);
}

.sign form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sign form .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    border-bottom: 1px solid var(--col-gray-4);
}

.sign form img {
    margin: 0 4px;
}

.sign form input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 14px;
    width: calc(100% - 28px);
    border: none;
    outline: none;
    font-size: 16px;
}


.sign form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0 24px 0;
    padding: 16px;
    width: 100%;
    background: var(--col-yellow);
    border: none;
    outline: none;
    color: var(--col-black);
    font-size: 18px;
    font-weight: 700;
    transition-property: background, color;
    transition-duration: .3s, .3s;
}

.sign form button:hover,
.sign form button:active {
    background: var(--col-black);
    color: var(--col-yellow);
}

.sign .func {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--col-gray-2);
}

.sign .func a {
    padding: 2px 20px;
    border-right: 1px solid var(--col-gray-2);
    color: var(--col-gray-6);
    text-align: right;
}

.sign .func a:last-child {
    text-align: left;
}

.sign .func a:last-child {
    border: none;
}