#hotapi-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
    margin-bottom: 120px;
}

#hotapi-component .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 12px 0;
    border-bottom: 1px solid var(--col-wb-3);
}

#hotapi-component .header .title {
    font-weight: bold;
    font-size: 36px;
}

#hotapi-component .header .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--col-wb-2);
    font-size: 16px;
}

#hotapi-component .body {
    display: flex;
    flex-direction: column;
}


#hotapi-component .body .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#hotapi-component .body .item {
    display: flex;
    flex-direction: column;
    width: 24%;
    min-width: 240px;
    height: 260px;
}

#hotapi-component .body .item .img {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    height: 180px;
    background: var(--col-wb-4);
    border-radius: 12px;
    overflow: hidden;
}

#hotapi-component .body .item .img img {
    width: 100%;
    height: 100%;
}

#hotapi-component .body .item .title {
    margin-bottom: 8px;
}

#hotapi-component .body .item .wdate {
    color: var(--col-wb-1);
    font-size: 12px;
}